<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BusArticleMapper">

    <resultMap type="BusArticle" id="BusArticleResult">
        <result property="articleId" column="article_id"/>
        <result property="articleType" column="article_type"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleSummary" column="article_summary"/>
        <result property="articleContent" column="article_content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectBusArticleVo">
        select article_id, article_type, article_title, article_summary, article_content, create_by, create_time, update_by, update_time from bus_article
    </sql>

    <select id="selectBusArticleList" parameterType="BusArticle" resultMap="BusArticleResult">
        select article_id, article_type, article_title, article_summary, create_by, create_time, update_by, update_time from bus_article
        <where>
            <if test="articleType != null  and articleType != ''">and article_type = #{articleType}</if>
            <if test="articleTitle != null  and articleTitle != ''">and article_title like concat('%', #{articleTitle},
                '%')
            </if>
            <if test="articleSummary != null  and articleSummary != ''">and article_summary like concat('%',
                #{articleSummary}, '%')
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBusArticleById" parameterType="Long" resultMap="BusArticleResult">
        <include refid="selectBusArticleVo"/>
        where article_id = #{articleId}
    </select>

    <insert id="insertBusArticle" parameterType="BusArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into bus_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleType != null and articleType != ''">article_type,</if>
            <if test="articleTitle != null and articleTitle != ''">article_title,</if>
            <if test="articleSummary != null and articleSummary != ''">article_summary,</if>
            <if test="articleContent != null and articleContent != ''">article_content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleType != null and articleType != ''">#{articleType},</if>
            <if test="articleTitle != null and articleTitle != ''">#{articleTitle},</if>
            <if test="articleSummary != null and articleSummary != ''">#{articleSummary},</if>
            <if test="articleContent != null and articleContent != ''">#{articleContent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateBusArticle" parameterType="BusArticle">
        update bus_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleType != null and articleType != ''">article_type = #{articleType},</if>
            <if test="articleTitle != null and articleTitle != ''">article_title = #{articleTitle},</if>
            <if test="articleSummary != null and articleSummary != ''">article_summary = #{articleSummary},</if>
            <if test="articleContent != null and articleContent != ''">article_content = #{articleContent},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <delete id="deleteBusArticleById" parameterType="Long">
        delete from bus_article where article_id = #{articleId}
    </delete>

    <delete id="deleteBusArticleByIds" parameterType="String">
        delete from bus_article where article_id in
        <foreach item="articleId" collection="array" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </delete>

</mapper>